<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створити оцінку</title>
</head>
<body>
<h1>Створити оцінку</h1>
<form th:action="@{/grades/create}" method="post" th:object="${gradeInDTO}">
    <label for="createStudent">Студент:</label>
    <select name="studentId" id="createStudent" required>
        <option value="" disabled selected>Оберіть студента</option>
        <option th:each="student : ${students}" th:value="${student.id}"
                th:text="${student.firstName} + ' ' + ${student.lastName}"></option>
    </select>

    <label for="createSubject">Предмет:</label>
    <select name="subjectId" id="createSubject" required>
        <option value="" disabled selected>Оберіть предмет</option>
        <option th:each="subject : ${subjects}" th:value="${subject.id}"
                th:text="${subject.name}"></option>
    </select>

    <label for="createDate">Дата:</label>
    <input type="date" name="date" id="createDate" required>

    <label for="createGrade">Оцінка:</label>
    <input type="number" name="gradeValue" id="createGrade" min="0" max="100" required>

    <label for="createComment">Коментар:</label>
    <textarea name="comment" id="createComment" rows="3"></textarea>

    <button type="submit">Додати оцінку</button>
</form>
</body>
</html>